body {
    font-family: sans-serif;
    background-color: #333;
    color: white;
    text-align: center;
}

#guessInput {
    padding: 8px;
    width: 250px;
}

#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #555;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

#menu li {
    padding: 8px;
    cursor: pointer;
    background-color: #444;
    border-bottom: 1px solid #555;
}

#menu li:hover {
    background-color: #666;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

.results-container {
    margin-top: 1rem;
}

.stat-row {
    margin: 4px auto;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    gap: 4px;
    text-align: center;
}

.stat-cell {
    width: 100px;
    padding: 8px 4px;
}